spark.master ${K8S_APISERVER_ADDR}
spark.submit.deployMode cluster
spark.kubernetes.file.upload.path hdfs:///spark/upload
spark.executor.instances 1
spark.dynamicAllocation.enabled false
spark.shuffle.service.enabled false
spark.kubernetes.container.image apache/spark:3.5.1
spark.kubernetes.authenticate.driver.serviceAccountName spark
spark.kubernetes.namespace ${NAMESPACE}
